@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

html,
body {
  height: 100%;
}

.wrapper {
  padding: 0 4%;
  margin: 0 auto;
}

.bodystyle {
  padding-top: 65px;
}

.index-bg {
  background: url(../Image/idx-bg.jpg) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  position: relative;
}
.index-bg .index-bg-img {
  max-width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-41%, -37%);
}
.index-bg .index-btn-group {
  display: none;
}

.offcanvas-title-style {
  font-weight: normal;
  font-size: 1.8rem;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.336);
}

.navbar-toggler:hover {
  border: 1px solid rgba(0, 0, 0, 0.486);
  transition: all 0.3s ease-in-out;
}

.offcanvas-title {
  font-size: 2rem;
}

.nav-item a {
  border-bottom: 1px solid rgba(109, 109, 109, 0.315);
}

.nav-link:hover {
  color: rgb(197, 161, 42);
}

#menu {
  width: 500px;
  overflow: hidden;
}

#menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#menu li {
  width: 100px;
  height: 35px;
  line-height: 22px;
  float: left;
  overflow: hidden;
  text-align: center;
  padding-top: 9.95px;
}

#menu a {
  width: 100px;
  float: left;
  overflow: hidden;
}

#menu span {
  display: block;
  margin-top: -30px;
}

#menu a:hover {
  padding-top: 30px;
  transition: all 0.35s ease-in-out;
}

div.btn-container {
  width: 70%;
  margin: 20px auto;
  display: grid;
  grid: 10px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
div.btn-container .btn {
  margin: 5px;
}
div.btn-container .btn-outline-primary {
  border-color: rgba(65, 47, 47, 0.267);
  color: rgb(138, 105, 66);
}
div.btn-container .btn-outline-primary:hover {
  background-color: rgba(129, 94, 78, 0.253);
}

.border-line {
  margin-top: 20px;
  width: 70%;
  border-bottom: double rgba(168, 168, 166, 0.699);
}

div.new-subtitle {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(122, 72, 10);
  margin-top: 50px;
}

div.news-card {
  margin-top: 20px;
  width: 70%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
div.news-card a.bg-item {
  border: 1px solid rgba(155, 155, 153, 0.555);
  background-color: rgba(193, 212, 228, 0.349);
  width: 100%;
  color: rgb(97, 94, 93);
}
div.news-card a.bg-item img {
  width: 100%;
}
div.news-card a.bg-item p {
  margin-top: 20px;
  text-align: center;
}

.about-bg-img {
  background-image: url(../Image/about.jpg);
  min-height: 60vh;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.about-bg-img .about-title {
  font-size: 1.8rem;
  color: rgb(240, 234, 234);
  text-shadow: 1px 0.3px 0.5px rgb(0, 0, 0);
}

.about-link-group {
  margin-bottom: 10px;
  padding: 25px 0 10px 0;
}
.about-link-group ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-link-group ul li {
  margin: 5px 10px;
}
.about-link-group ul li .about-link {
  font-size: 1.2rem;
  color: rgb(110, 105, 105);
  border: 1px solid rgb(110, 105, 105);
  padding: 10px 12px;
  border-radius: 5px;
}
.about-link-group ul li .active {
  background-color: rgba(141, 138, 138, 0.192);
}

.about-link:hover {
  background-color: rgba(141, 138, 138, 0.438);
  transition: all 0.2s ease;
}

.about-container {
  margin: 0 10px;
}
.about-container .top-group {
  display: flex;
}
.about-container .top-group .right-group {
  margin: 120px 0 0 15px;
}
.about-container .top-group .right-group .right-title {
  font-size: 2rem;
  margin: 10px 0 15px 20px;
  color: rgb(153, 105, 42);
}
.about-container .top-group .right-group .right-text {
  width: 80%;
  margin: 5px 0 30px 50px;
}
.about-container .bottom-group {
  width: 50%;
  margin: -210px 0px 0px 50px;
  padding: 110px 30px 40px 20px;
}
.about-container .bottom-group .bottom-text {
  width: 79%;
  margin: 20px 0 0 70px;
  text-align: justify;
  line-height: 1.8;
  letter-spacing: 1px;
}

.about-map {
  margin-top: 20px;
}
.about-map a {
  display: flex;
  justify-content: center;
}
.about-map a img {
  max-width: 80%;
}
.about-map .ifram {
  display: none;
}

footer.footer {
  margin-top: 20px;
  background-color: rgba(145, 133, 111, 0.616);
  padding: 20px;
  height: auto;
}
footer.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer.footer ul li {
  padding: 20px 10px;
}
footer.footer ul li a {
  color: aliceblue;
  margin: 0 10px;
  letter-spacing: 2px;
}

.foot a:hover {
  color: rgb(170, 119, 23);
  transition: 0.3s;
}

@media (max-width: 1199.98px) {
  .index-bg {
    background-image: url(../Image/hero-idx-mobile@2x.png);
    background-size: 60%;
    background-position: center top;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .index-bg .index-bg-img {
    display: none;
  }
  .index-bg .index-btn-group {
    width: 100px;
    height: 100px;
    line-height: 12vw;
    color: #b18f6e;
    position: absolute;
    display: block;
    border: 1px solid #b18f6e;
    border-radius: 100px;
    text-align: center;
    margin-bottom: 60px;
    font-size: 20px;
    font-family: "American Typewriter";
  }
  div.news-card {
    margin-top: 20px;
    width: 70%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
  div.news-card a.bg-item {
    border: 1px solid rgba(155, 155, 153, 0.555);
    background-color: rgba(193, 212, 228, 0.349);
    width: 100%;
    color: rgb(97, 94, 93);
  }
  div.news-card a.bg-item img {
    width: 100%;
  }
  div.news-card a.bg-item p {
    margin-top: 20px;
    text-align: center;
  }
  .about-bg-img {
    min-height: 20vh;
  }
  .about-link-group ul {
    width: 80%;
    margin: 0 auto;
  }
  .about-link-group ul li {
    margin: 10px 5px;
  }
  .about-link-group ul .about-link {
    font-size: 1rem;
    padding: 8px 10px;
  }
  .about-container .top-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-container .top-group .left-img img {
    max-width: 100%;
  }
  .about-container .top-group .right-group {
    width: 100%;
    margin: 10px 0;
  }
  .about-container .top-group .right-group .right-title {
    font-size: 2rem;
    margin: 10px 0 10px 30px;
    color: rgb(153, 105, 42);
  }
  .about-container .top-group .right-group .right-text {
    width: 95%;
    margin-left: 15px;
  }
  .about-container .top-group .right-group img {
    max-width: 100%;
    margin: 15px 0px 15px 20px;
  }
  .about-container .bottom-group {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .about-container .bottom-group .bottom-text {
    width: 90%;
    margin: 10px 30px;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  .about-map {
    margin-top: 20px;
  }
  .about-map a {
    display: none;
  }
  .about-map .ifram {
    display: block;
    width: 100%;
  }
  footer.footer {
    margin-top: 20px;
    background-color: rgba(145, 133, 111, 0.616);
    padding: 90px;
    height: auto;
  }
  footer.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  footer.footer ul li {
    padding: 10px 10px;
  }
  footer.footer ul li a {
    color: aliceblue;
    margin: 0 8px;
    letter-spacing: 2px;
    font-size: 1.3rem;
    text-align: center;
  }
  .foot a:hover {
    color: rgb(170, 119, 23);
    transition: 0.3s;
  }
}
@media (max-width: 575.98px) {
  .index-bg {
    background-image: url(../Image/hero-idx-mobile@2x.png);
    background-position: 50% 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .index-bg .index-bg-img {
    display: none;
  }
  .index-bg .index-btn-group {
    border: 2px solid black;
    width: 80px;
    height: 80px;
    line-height: 17vw;
    color: #b18f6e;
    position: absolute;
    display: block;
    border: 1px solid #b18f6e;
    border-radius: 100px;
    text-align: center;
    margin-bottom: 150px;
    font-size: 20px;
    font-family: "American Typewriter";
  }
  div.news-card {
    margin-top: 20px;
    width: 70%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  div.news-card a.bg-item {
    border: 1px solid rgba(155, 155, 153, 0.555);
    background-color: rgba(193, 212, 228, 0.349);
    width: 100%;
    color: rgb(97, 94, 93);
  }
  div.news-card a.bg-item img {
    width: 100%;
  }
  div.news-card a.bg-item p {
    margin-top: 20px;
    text-align: center;
  }
  .about-bg-img {
    min-height: 20vh;
  }
  .about-link-group ul {
    width: 80%;
    margin: 0 auto;
  }
  .about-link-group ul li {
    margin: 10px 5px;
  }
  .about-link-group ul .about-link {
    font-size: 1rem;
    padding: 8px 10px;
  }
  .about-container {
    margin: 0 10px;
  }
  .about-container .top-group {
    display: flex;
    flex-wrap: wrap;
  }
  .about-container .top-group .left-img img {
    max-width: 100%;
  }
  .about-container .top-group .right-group {
    width: 100%;
    margin: 10px 0;
  }
  .about-container .top-group .right-group .right-title {
    font-size: 2rem;
    margin: 15px 10px;
    color: rgb(153, 105, 42);
  }
  .about-container .top-group .right-group .right-text {
    width: 100%;
    margin: 0;
  }
  .about-container .top-group .right-group img {
    max-width: 100%;
    margin: 15px 0px 0 0px;
  }
  .about-container .bottom-group {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .about-container .bottom-group .bottom-text {
    width: 100%;
    margin: 10px 0;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  .about-map {
    margin-top: 20px;
  }
  .about-map a {
    display: none;
  }
  .about-map .ifram {
    display: block;
    width: 100%;
  }
  footer.footer {
    margin-top: 20px;
    background-color: rgba(145, 133, 111, 0.616);
    padding: 10;
    height: auto;
  }
  footer.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  footer.footer ul li {
    padding: 10px 10px;
  }
  footer.footer ul li a {
    color: aliceblue;
    margin: 0 8px;
    letter-spacing: 2px;
  }
  .foot a:hover {
    color: rgb(170, 119, 23);
    transition: 0.3s;
  }
}/*# sourceMappingURL=style.css.map */